<form>

    <label>Type: </label>
    <select name="type" [(ngModel)]="credentials.type">
      <option value="customer">Customer</option>
      <option value="company">Company</option>
      <option value="admin">Admin</option>
    </select>
  <br><br>

  <label>Username: </label>
  <input type="text" name="username" [(ngModel)]="credentials.username">
  <br><br>

  <label>Password: </label>
  <input type="password" name="password" [(ngModel)]="credentials.password">
  <br><br>

  <button (click)="login()">Login</button>
</form>
